.mainForm {
  .modal-header {
    .modal-title {
      font-size: 17px;
    }
  }
  .formStyle {
    .row {
      margin: 15px;
    }
    .form-group {
      label {
        margin-bottom: 5px;
      }
    }
    .imgStyle {
      width: 120px;
      height: 80px;
      border-radius: 15% !important;
      object-fit: cover;
    }
    .modal-footer {
      .cancel {
        background-color: #e88f23 !important;
      }
    }
  }
}
